@import "../../../../node_modules/materialize-css/sass/materialize";


.bannerSection {
  @extend .col;
  @extend .s12;
  padding: 0 !important;
  background: #eee;
  height: 100%;
}


.bannerHeader{
  @extend .col;
  @extend .s12;
  height: 10%;
  display: table;
}

.bannerHeader span{
  display: table-cell;
  vertical-align: middle;
  font-size: 30px;
  font-weight: 900;
}

.bannerQuotes{
  @extend .col;
  @extend .s12;
  display: table;
  height: 90%;
  padding-left: 5% !important;
  padding-right: 5% !important;
}

.bannerQuotes div{
  display: table-cell;
  vertical-align: middle;
}

.bannerQuotes div h1{
  font-weight: 900;
  font-size: 70px;
}

.bannerQuotes div span{
  font-weight: 400;
}

.learnMore {
  padding: 6px 13px 6px 13px;
  font-weight: 600;
  border:0.5px solid #333;
}
