@import "~materialize-css/sass/materialize.scss";
@import "./Banner.scss";
@import "./Signin.scss";
@import "./common.scss";
@import "./components.scss";

.pageContainer {
  @extend .row;
  height: 100vh;
}

.bannerContainer{
  @extend .col;
  @extend .m6;
  height: 100%;
  padding: 0 !important;
}

.signInContainer{
  @extend .col;
  @extend .m6;
  height: 100%;
}

.joinUsContainer{
  @extend .row;
  padding: 0 !important;
  height: 100%;
}

.joinUsBanner{
  @extend .col;
  @extend .s6;
  padding: 0 !important;
  height: 100%;
}
.joinUsDetails{
  @extend .col;
  @extend .s6;
  padding: 0 !important;
  height: 100%;
}
