@import "~materialize-css/sass/materialize.scss";
@import "../common/components/Banner/Banner";
@import "../common/components/Signin/Signin";
@import "../common/components/Login/Login";
@import "./common.scss";
@import "../common/components/CustomButton/CustomButton";


.pageContainer {
  @extend .row;
  height: 100vh;
}

.bannerContainer{
  @extend .col;
  @extend .m6;
  height: 100%;
  padding: 0 !important;
}

.signInContainer{
  @extend .col;
  @extend .m6;
  height: 100%;
}

.joinUsContainer{
  @extend .row;
  padding: 0 !important;
  height: 100vh;
}

.joinUsBanner{
  @extend .col;
  @extend .s6;
  padding: 0 !important;
  height: 100%;
}
.joinUsDetails{
  @extend .col;
  @extend .s6;
  padding: 0 !important;
  height: 100%;
}
